<!--
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${status}]]</title>
    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body >
<div class="m-5" >
    <p>Error code:[[${status}]]</p>
    <p >Information:[[${message}]]</p>
    <p >Time:[[${#dates.format(timestamp,'yyyy-MM-dd hh:mm:ss ')}]]</p>
    <p >Request path:[[${path}]]</p>
</div>

</body>
</html>-->
